/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap");

/* -- variables */
:root {
    /* main variables */
    --text-color: hsla(192, 38%, 95%, 0.99);
    --text-accent: hsla(268, 32%, 94%, 0.99);
    --bg-color: hsla(240, 75%, 3%, 0.94);
    --bg-opaque: hsla(234, 65%, 3%, 0.12);
    --base-tone1: hsla(263, 0%, 20%, 0.77);
    --acc-tone1: hsla(284, 57.5%, 38%, 0.77);
    --acc-tone2: hsla(189, 75%, 65%, 0.88);
    --acc-tone3: hsla(120, 80%, 70%, 0.95);
    --c2a-color: hsla(30, 95%, 50%, 0.99);
    --c2a-hover: hsla(184, 99%, 72%, 0.77);
    --linear-gradient1: linear-gradient(to bottom right, hsla(110, 50%, 75%, 0.6), hsla(110, 50%, 75%, 0.4));
    /* border common sizes */
    --border-1: 1px;
    --border-2: 2px;
    /* 3 padding %'s */
    --pad-1: 1.5%;
    --pad-2: 3%;
    --pad-3: 5%;
    /* h / p | font-family */
    --font-headers: 'Montserrat', 'Playfair Display', 'Poppins', system-ui, BlinkMacFontSystem;
    --font-ptxt: 'Open Sans', sans-serif, system-ui;
    /* 3 common font-sizes */
    --fsize-def: 16px;
    --fsize-med: 24px;
    --fsize-hdr:32px;
    /* main font-weights */
    --weight-ptxt: 400;
    --weight-header: 600;
    --weight-bolder: 700;
}

/* star, html, body elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-ptxt);
    height: 100vh;
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 1% 2.5%;
    line-height: 1.5;
}

/* header font declaration */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headers);
    font-weight: var(--weight-header);
}
/* paragraph style text */
p {
    font-family: var(--font-ptxt);
    font-weight: var(--weight-ptxt);
}




/* media query / breakpoints */  
@media (width < 320px) {
    body {
    }
    nav {
        display: none; /* Hide navigation on small mobile phones */
    }
  }
  
  /* Mobile phones (320px to 480px) */
  @media (width >= 320px) and (width < 420px) {
    body {
    }

    nav {
        display: none; /* Hide navigation on small mobile phones */
    }
  
  
  /* Tablets (481px to 767px) */
  @media (width >= 421px) and (width < 600px) {
    body {
    }
    nav {
        display: none;
    }
  }
  
  /* Small laptops and desktops (768px to 967px) */
  @media (width >= 600px) and (width < 768px) {
    body {
    }
    nav {
        display: none; /* Show navigation on larger screens */
      }
  }
  
  /* progressive into 991px smoothly */
  @media (width >= 768px) and (width < 992px) {
    body {
    }
  }
  
  /* progressive into 1199px smoothly */
  @media (width >= 992px) and (width < 1200px) {
    body {
    }
  }
  /* progressive, carries to 1599px smoothly */
  @media (width >= 1200px) and (width < 1600px) {
    body {
    }
  }
/* 1600px and above selected */
  @media (min-width: 1600px) {
    body {
    }
  } 
  /* end of main media | breakpoint selectors */